.wrapper {
    background-color: #7C46F3;
    align-items: center;
    width: 100%;
    height: 600px;
    border: 1px solid blue;
    position: relative;
}
.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 38%;
}
.help {
    display:flex;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 55px;
    justify-content: space-around;
    width: 60%;
}
.help2 {
    display: none;
}
.player {
    border: 1px solid black;
    background-color: white;
    width: 80px;
    height: 80px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 5px 2px ;
}
.player h1 {
    margin: 0;
}
.player h6 {
    margin: 0;
    margin-top: 10px;
}
.board {
    background-color: white;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(7, 1fr);
    border: 1px solid green;
    border-radius: 15px;
    margin: 10px;
    margin-left: 40px;
    margin-right: 40px;
    padding: 20px;
    box-shadow: 0px 5px 2px ;
    padding-bottom: 30px;
}
.board-shadow {
    background-color: black;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
}
.shadow {
    background-color: #7C46F3;
    height: 35px;
    margin-bottom: -27px;
    width: 40px;
    border-radius: 50%;
    display: inline-block;
}
#pink {
    background-color: #EE6D85;
    border: 1px solid black;
    box-shadow: 0px 0px 0px ;
    height: 40px;
}
#yellow {
    background-color: #F9D06D;
    border: 1px solid black;
    box-shadow: 0px 0px 0px ;
    height: 40px;
}
.time {
    position: absolute;
    color: white;
    left: 45%;
    right:60%;
    bottom: 46px;
    border-radius: 10px;
    background-color: #FF6487;
    clip-path: polygon(50% 61%, 100% 68%, 100% 100%, 0 100%, 0 68%);
    height: 250px;
    width: 10%;
    text-align: center;
    }
.time h1 {
    position: absolute;
    right: 40%;
    left: 36%;
    bottom: 2px;
    margin-top: 0px;
    margin-bottom: 0;
    font-size: 50px;
}.time h6 {
    position: absolute;
    right: 10%;
    left: 10%;
    bottom: 60px;
    margin-top: 30px;
    margin-bottom: 0px;
}
.pointer {
    position: absolute;
    top: 17.3%;
    left: 56.5%;
    clip-path: polygon(100% 0, 100% 13%, 50% 25%, 0 13%, 0 0);
    height: 80px;
    width:2%;
    background-color: #FF6487;

}
.circles {
    width: 38px;
    display: flex;
    flex-wrap: wrap;
}
.circles span {
    display: inline-block;
    height: 15px;
    width: 15px;
    margin: 2px;
    border-radius: 50%;
    box-shadow: 0px 5px 2px ;
    background-color: #F9D06D;
}
#circle {
    background-color: #FF6487;
}
.wrapper button {
    border: 0px solid;
    border-radius: 8px;
    background-color: #432c77;
    color: white;
}
.menu {
    height: 25px;
    width: 60px;
}
.restart {
    height: 25px;
    width: 80px;
}
@media screen and (max-width:700px){
    body {
        margin: 0;
        padding: 0;
    }
    .wrapper {
        position: relative;
        width: 99%;
        margin: 0 auto;
        height: 100%;
    }
    .help {
        display: none;
    }
    .help2 {
        display: block;
        width: 99%;
        margin-right: auto;
        margin-left: auto;
    }
    .players{
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }
    .player {
        border: 1px solid black;
        background-color: white;
        width: 40%;
        height: 55px;
        border-radius: 8px;
        text-align: center;
        box-shadow: 0px 5px 2px ;
    }
    .player h6 {
        margin: 0;
        margin-top: 5px;
    }
    .board {
        margin-left: auto;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 200px;
        width: 85%;
        display: grid;
        gap: 6px;
        grid-template-columns: repeat(7, 1fr);
        padding: 10px;
        padding-bottom: 20px;
    }
    .board-shadow {
        display: inline-block;
        width: 30px;
        height: 30px;
    }
    .shadow {
        background-color: #7C46F3;
        height: 25px;
        margin-bottom: -16px;
        width: 30px;
        border-radius: 50%;
        display: inline-block;
    }
    #pink {
        height: 30px;
    }
    #yellow {
        height: 30px;
    }
    .pointer {
       display: none;
    }
    .time {
        position: absolute;
        color: white;
        left: 24%;
        bottom: 100px;
        background-color: #FF6487;
        box-shadow: 0px 10px 5px black;
        border: 1px solid black;
        clip-path: polygon(50% 50%, 100% 64%, 100% 100%, 0 100%, 0 64%);
        height: 200px;
        padding-bottom: 30px;
        width: 50%;
        border-radius: 10px;
    }
    .time h1 {
        position: absolute;
        right: 40%;
        left: 38%;
        bottom: 16px;
        margin-top: 0px;
        margin-bottom: 0;
        font-size: 50px;
    }.time h6 {
        position: absolute;
        right: 20%;
        left: 20%;
        bottom: 70px;
        margin-top: 30px;
        margin-bottom: 0px;
    }
    .menu {
        position: absolute;
        top: 5%;
        left: 10%;
        right: 40%;
        height: 25px;
        width: 60px;
    }
    .restart {
        position: absolute;
        top: 5%;
        left: 65%;
        right: 20%;
        height: 25px;
        width: 80px;
    }
    .circles {
        width: 38px;
    }
}